@tailwind preflight;
/* layout */

#app {
  @apply w-full h-screen .h-full relative;
  max-width: 700px;
  margin: 0 auto;
  /* background: #fff; */
}

.header,
.footer,
.dice {
  @apply flex h-12;
}

.icon-grid {
  @apply
}

.btn {
  @apply inline-block text-black text-center px-2 py-2 m-1 border-b-4 border-black rounded-b no-underline w-10
}

/* NON Tailwind */

/*  generics */

html {
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

/* https://github.com/rodneyrehm/viewport-units-buggyfill */

img {
  content: normal !important;
}

.toasted-container.top-center {
  width: 80% !important;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

/*  components  */

/*  component -- header */

.header {
  @apply .text-center;
}

.header .logo {
  /* @apply .vertical-center; */
  /* max-height:40px;  */
  height: auto;
  width: 100%;
  max-width: 200px;
  padding: 10px;
}

/*  component -- router   */

.router,
.warning {
  height: calc(100vh);
}

/*  component -- header */

.header {
  z-index: 0;
}

.header .icon {
  @apply w-1/6 mt-2;
  z-index: 1;
}

.header .body {
  @apply w-2/3 flex mt-2;
}

/*  component -- footer */

.footer-btn {
  @apply flex justify-center;
}

.footer-btn .button {
  @apply btn p-0 w-48 flex;
}

.footer-btn .icon {
  @apply self-center flex-no-grow pl-4 pr-4 p-2 text-center bg-yellow-light;
}

.footer-btn .body {
  @apply self-center flex-grow;
}

/*  component -- init   */

.init {
  @apply .text-center .vertical-center;
}

.init .logo {
  max-height: 30px;
}

.init .version {
  font-size: 9px;
  position: absolute;
}

.init .btn {
  @apply .w-32 .text-white;
}

/*  component -- game   */

.game-body {
  height: calc(100vh - (9.5em));
  z-index: 1;
  position: relative;
}

/*  component -- warning-horizontal   */

.warning {
  display: none;
}

.warning-horizontal {
  @apply .vertical-center .text-center;
}

/* component -- tiles */

.game-tiles {
  @apply flex justify-between flex-wrap content-center;
  max-width: 700px;
  margin: 0 auto;
}

.game-tiles .tile,
.game-tiles .selectedTile {
  @apply text-black self-center text-center m-1 py-2 border-b-4 border-black rounded no-underline;
  height: calc((((100vh - (9em))/9)*80)/100);
  width: calc(100vw/9 - (8px));
  max-height: calc(100vw/9 - (4px));
  cursor: pointer !important;
}

.game-tiles .tile div, .game-tiles .selectedTile div{
margin-top: -5px;
}


.shutTheBox .game-tiles .tile {
  height: calc((((100vh - (30px))/3)*90)/100);
  width: calc((100vw - 30px)/3);
  max-height: calc((100vw - 30px)/3);
}

.shutTheBox .game-tiles .tile div {
  font-size: 4em;
  margin-top: -10px;
}

/*  component -- dice */

.dice {
  @apply text-center;
}

.dice .diceSumUp {
  position: absolute;
  top: -2px;
  left: 0;
  margin: 0 auto;
  text-align: center;
  color: #999;
  width: 100%;
  font-size: 11px;
  color:orange;
}


.dice .diceSumUpLeft {
  
  position: absolute;
  top: 50px;
  left: 0;
  margin: 0 auto;
  text-align: center;
  color: #999;
  width: 100%;
  font-size: 11px;
  color: green;
}
/* end components */

/* transitions */

.flip-list-move {
  transition: transform 0.5s;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-leave-active {
  transition-duration: 0;
  transition-delay: 0;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* Media Queries */

@media only screen and (orientation: landscape) and (max-width: 1024px) {
  .isMobile .router {
    display: none;
  }
  .isMobile .warning {
    display: block;
  }
}

@media screen and (max-height: 830px) {
  .isDesktop .router {
    display: none;
  }
  .isDesktop .warning {
    display: block;
  }
}

@media only screen and (orientation: portrait) {
  .isMobile .warning {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .game-tiles .tile {
    width: 58px;
  }
  .game-tiles .selectedTile{
    width: 43px;
    height: 43px;
  }
  .shutTheBox .game-tiles .tile{
    width: 220px;
    max-height: 210px;
  }
}

/* Portrait */

@media only screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #app {
    padding-top: 20px;
  }
  .game-body {
    height: calc(100vh - (10em));
  }
  .game-tiles .tile {
    padding-top: 3px;
  }
  /* .footer-btn, .header-logo{
    margin-top: 23px;
  } */
}

@tailwind utilities;
